@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;

}




body{
    color: white;
    background-color: black;
    height: 100vh;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.apresentacao__conteudo{
    width: 30vw;
    height: 40vh;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.apresentacao__conteudo__paragrafo{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__botao{
    
}

.img{
    width: 25vw;
    height: 40vh;
}

/**/
.titulo-destaque{
    color: aqua;
}